:root {
	--primary: #ccac88;
	--grey: #ccac88;
	/* #888 */

	--card-width: 520px;
	--image-width: calc(var(--card-width) / 1.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

main {
	min-height: 100vh;
	background-image: linear-gradient(to bottom right,#ccac88, #cfc5b5);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card {
	position: relative;
	width: 100%;
	max-width: var(--card-width);
	background-color: rgb(41, 38, 38);
	border-radius: 1rem;
	padding: 1.5rem;
	text-align: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
	box-shadow: 0 2px 6px rgb(43, 42, 42);
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .image {
	position: relative;
	margin: -8rem auto 1.5rem;
	width: var(--image-width);
	height: var(--image-width);
	border-radius: 15%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	transition: 0.4s;
	overflow: hidden;
	padding: 0.25rem;
	background-color: rgb(41, 38, 38);
	box-shadow: 0 2px 6px rgb(43, 42, 42);
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .image img {
	width: 100%;
	border-radius: 15%;
	transition: 0.4s;
	border: 3px solid var(--primary);
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .content {
	--card-width: 480px;
	--image-width: calc(var(--card-width) / 2);
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .content .image {
	margin-top: -4rem;
	border-radius: 2rem;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .content .image img {
	border-radius: 2rem;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .name {
	color: var(--grey);
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .content {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: 0.4s;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .content h1{
    color: var(--grey);
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
  }

.card .content p, h2 {
	color: var(--grey);
	font-size: 1.125rem;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .content {
	max-height: 300px;
	opacity: 1;
	overflow: visible;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .buttons {
	display: center;
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
	cursor: url('Cursors/GrabCursor.png'), auto;
    text-decoration: none;
}

.card .buttons a {
    text-decoration: none;
}

.card .buttons button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: url('Cursors/GrabCursor.png'), auto;
    text-decoration: none;

	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background-color: #ccac88;
	font-size: 1.25rem;
	font-weight: 700;
}

.card .buttons button:hover {
	box-shadow: 0 2px 6px rgb(41, 38, 38);
    background-color: #ccac88;
	transform: translateY(-0.5rem) scale(1.15);
	cursor: url('Cursors/GrabCursor.png'), auto;
}
