:root {
	--primary: rgb(44, 46, 49);
	--grey: #fff;
	/* #888 */

	--card-width: 320px;
	--image-width: calc(var(--card-width) / 1.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

main {
	min-height: 100vh;
	background-image: linear-gradient(to bottom right,#1e1e35, #202434);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card {
	position: relative;
	width: 100%;
	max-width: var(--card-width);
	background-color: #1b1b30;
	border-radius: 1rem;
	padding: 1.5rem;
	text-align: center;
	box-shadow: 0 3px 6px #24243c;
	transition: 0.4s;
	box-shadow: 0 2px 6px #1c1c30;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .image {
	position: relative;
	margin: -8rem auto 1.5rem;
	width: var(--image-width);
	height: var(--image-width);
	border-radius: 15%;
	box-shadow: 0 3px 6px #24243c;
	transition: 0.4s;
	overflow: hidden;
	padding: 0.25rem;
	background-color: #24243c;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .image img {
	width: 100%;
	border-radius: 15%;
	transition: 0.4s;
	border: 3px solid white;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card:hover {
	--card-width: 480px;
	--image-width: calc(var(--card-width) / 2);
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card:hover .image {
	margin-top: -4rem;
	border-radius: 2rem;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card:hover .image img {
	border-radius: 2rem;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .name {
	color: var(--grey);
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .content {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: 0.4s;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card .content p {
	color: var(--grey);
	font-size: 1.125rem;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.card:hover .content {
	max-height: 300px;
	opacity: 1;
	overflow: visible;
	cursor: url('Cursors/pointerCursor.png'), auto;
}

.discord-icon {
	width: 0px;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px;
	border-radius: 10%;
	cursor: url('Cursors/GrabCursor.png'), auto;
}

.card:hover .discord-icon{
	width: 45px;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px;
	border-radius: 10%;
	cursor: url('Cursors/GrabCursor.png'), auto;
}

/* .youtube-icon {
	width: 0px;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px;
	border-radius: 10%;
	cursor: url('Cursors/GrabCursor.png'), auto;
}

.card:hover .youtube-icon{
	width: 45px;
	position: absolute;
	top: 40px;
	right: 10px;
	padding: 10px;
	border-radius: 10%;
	cursor: url('Cursors/GrabCursor.png'), auto;
} */

.card .buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
	cursor: url('Cursors/GrabCursor.png'), auto;
}

.card .buttons button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: url('Cursors/GrabCursor.png'), auto;

	display: block;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background-color: #1b1b30;
	color: #FFF;
	font-size: 1.25rem;
	font-weight: 700;
	margin: 0 0.5rem;
	min-width: 160px;
	transition: 0.4s;
}

.card .buttons button:hover {
	transform: translateY(-0.5rem) scale(1.15);
	text-decoration: none;
	cursor: url('Cursors/GrabCursor.png'), auto;
}
